<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.cph.chicago"
    android:versionCode="7"
    android:versionName="7" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="fr.cph.chicago.ChicagoTracker"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_1"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="fr.cph.chicago.activity.BaseActivity"
            android:alwaysRetainTaskState="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="fr.cph.chicago.activity.MainActivity"
            android:alwaysRetainTaskState="true"
            android:label="@string/app_name" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value="fr.cph.chicago.activity.SearchActivity" />
        </activity>
        <activity
            android:name="fr.cph.chicago.activity.StationActivity"
            android:label="@string/station_activity"
            android:parentActivityName="fr.cph.chicago.activity.MainActivity" >

            <!--
            android:parentActivityName Load the names activity when pushed by user.
            		May have issue with data persistence 
            -->
        </activity>
        <activity
            android:name="fr.cph.chicago.activity.TrainStationActivity"
            android:label="@string/train_station_activity"
            android:parentActivityName="fr.cph.chicago.activity.MainActivity" >
        </activity>
        <activity
            android:name="fr.cph.chicago.activity.BusBoundActivity"
            android:label="@string/train_station_activity" >
        </activity>
        <activity
            android:name="fr.cph.chicago.activity.BusActivity"
            android:label="@string/bus_bound_activity" >
        </activity>
        <activity
            android:name="fr.cph.chicago.activity.ErrorActivity"
            android:label="@string/bus_bound_activity" >
        </activity>
        <activity
            android:name="fr.cph.chicago.activity.SearchActivity"
            android:label="@string/search_title"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
    </application>

</manifest>